.hero {
    margin: 0;
    position: relative;
    color: #ffffff;
}

.hero__image::before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: transparent;
    background-image: linear-gradient(rgba(35, 35, 35, .65), transparent 25%, transparent 65%, rgba(35, 35, 35, .65));
}

.hero__text {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title {
    font-size: 38px;
    margin-bottom: 0;
    max-width: 75%;
    color: inherit;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .35);
}

.hero__caption {
    position: absolute;
    bottom: 15px;
    right: 15px;
    line-height: 1;
    font-size: 12px;
    background-color: rgba(35, 35, 35, .75);
    padding: 7px;
}

.hero__caption > p {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .hero__title {
        font-size: 78px;
        max-width: 45%;
    }
}