.header {
    background-color: transparent;
    padding: 20px 25px;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 50;
    color: #ffffff;
}

.header__navbar {
    margin-left: auto;
}